<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0">
	<link rel='stylesheet' th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel='stylesheet' th:href="@{/css/custom.css}">

	<title>Register</title>
</head>
<body>

	<div class="container">
		<div class="row my-2">
			<div class="col-12 text-center">
				<h1 th:text="#{userregister}"></h1>
			</div>		
		</div>

		<div class="row my-2">
			<div class="col-12">
				<form th:action="@{/register}" th:object="${user}" method="post" novalidate>
					<div class="form-group">
						<label for="name" th:text="#{name}"></label><span class="badge badge-danger" th:text="#{must}"></span>
						<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{username}">
						<div class="invalid-feedback" th:errors="*{username}">
						</div>
					</div>
					<div class="form-group">
						<label for="password" th:text="#{password}"></label><span class="badge badge-danger" th:text="#{must}"></span>					
						<input type="password" class="form-control" th:errorclass="is-invalid" th:field="*{password}">
						<div class="invalid-feedback" th:errors="*{password}">
						</div>
					</div>
					
					
					<input type="hidden" name="admin" th:value="false">
					
					<button class="btn btn-info btn-user btn-block" th:text="#{register}"></button>
				</form>
			</div>		
		</div>
		
		<div class="row my-2">
			<div class="col-12">
				<a th:href="@{/othello/homepage}" class="btn btn-info btn-block" th:text="#{return_to_toppage_message}"></a>
			</div>
		</div>
		
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>